@model charac.Models.Acts

@{
    ViewData["Title"] = "Act Details";
}

<h2>Act Details</h2>

<dl class="row">
    <dt class="col-sm-3">Act 1</dt>
    <dd class="col-sm-9">@Model.actOne</dd>

    <dt class="col-sm-3">Act 2</dt>
    <dd class="col-sm-9">@Model.actTwo</dd>

    <dt class="col-sm-3">Act 3</dt>
    <dd class="col-sm-9">@Model.actThree</dd>

    <dt class="col-sm-3">Subject</dt>
    <dd class="col-sm-9">@Model.Subject?.SubName</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.SubId" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
